/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
  display: block;
}

.hentry {
  margin: 0 0 $base__space-unit;
}

.updated:not(.published) {
  display: none;
}

.single .byline,
.group-blog .byline {
  display: inline;
}

.page-content,
.entry-content,
.entry-summary {
  margin: $base__space-unit 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 $base__space-unit;
}

.header-image-container {
  overflow: hidden;
  width: 20%;
}

body {
  background-color: #222222;

  .site {
    padding: 2.5%;
  }
}

// body of homepage code
.home {
  .site-content {
    @include desktop {
      @include center-page;
      position: relative;
    }
  }

  .content-area {
    //   text-align: center;
    max-width: 100%;

    @include desktop {
      margin: 4.5rem 175px 1.5rem;

      &::before {
        content: '\f10d';
        @include quote-style;
        left: 0;
      }
      &::after {
        content: '\f10e';
        @include quote-style;
        right: 0;
      }
    }
    .site-main {
      max-width: 100%;
      article {
        color: $font-color;

        .entry-content {
          @include quote-font-fp;

          @include tablet {
            font-size: 1.75rem;
          }
          @include desktop {
            font-size: 2.5rem;
          }
        }

        .entry-meta {
          @include quote-font-fp;

          @include desktop {
            justify-content: center;
          }

          .entry-title {
            @include quote-font-fp;
            display: inline-block;
            margin: 0;
          }

          //   .source {
          //     // margin-left: 5px;
          //   }
        }
      }
    }
  }
}
