.site-header {
  margin-top: 3rem;

  .header-container {
    @include desktop {
      @include center-page;
    }
    .header-image-container {
      width: 100%;

      img {
        width: 300px;

        @include tablet {
          width: 500px;
        }
        @include desktop {
          width: 700px;
          @include center-block;
        }
      }
    }
  }
} //end of website Header
